@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
  overflow-x: hidden;
  background-color: black;
}
img {
  max-width: 100%;
}
.landing {
  max-width: 100vw;
  height: 200vh;
  .landing-bg {
    width: 100%;
    height: 100%;
    .landing-bg-layer1 {
      width: 100%;
      height: 55.4%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../assets/Layer\ 1.png");
      z-index: 2;
    }
    .landing-bg-layer2 {
      z-index: 3;
      width: 100%;
      margin-top: -450px;
      height: 44.6%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url("../assets/Layer\ 2.png");
      z-index: 1;
    }
  }
  .landing-text {
    span {
      position: absolute;
      top: 30%;
      left: 30%;
      transform: translate(-30%, -30%);
      font-size: 7rem;
      text-align: center;
      color: white;
      font-family: "Montserrat";
      letter-spacing: 2px;
      font-weight: 600;
      z-index: 2;
    }
  }
}

// section 2

.landing2 {
  max-width: 100vw;
  height: 200vh;
  .landing-bg2 {
    width: 100%;
    height: 100%;
    .landing-bg2-layer6 {
      width: 100%;
      height: 43.7%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../assets/set2/Layer\ 6.png");
      z-index: 1;
    }
    .landing-bg2-layer5 {
      width: 100%;
      height: 12%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../assets/set2/Layer\ 5.png");
      margin-top: -70px;
      z-index: 2;
    }
    .landing-bg2-layer4 {
      width: 111.2%;
      height: 7.8%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../assets/set2/Layer\ 4.png");
      margin-top: -155px;
      z-index: 3;
    }
    .landing-bg2-layer3 {
      width: 106.2%;
      height: 9.18%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../assets/set2/Layer\ 3.png");
      margin-top: -77px;
      z-index: 4;
    }
    .landing-bg2-layer2 {
      width: 100%;
      height: 28%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../assets/set2/Layer\ 2.png");
      margin-top: -112px;
      z-index: 5;
    }
    .landing-bg2-layer1 {
      width: 100.2%;
      height: 35.84%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../assets/set2/Layer\ 1.png");
      margin-top: -300px;
      z-index: 6;
    }
  }
}
